<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-1">
            <form method="post" action="/movies/<%= movies._id %>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" value="<%= movies.title %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a title.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="description" class="form-control" required><%= movies.description %></textarea>
                    <div class="invalid-feedback">
                        Please enter a description.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="actors" class="form-label">Actors</label>
                    <input name="actors" value="<%= movies.actors %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter actors' names.
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="url" class="form-label">Image URL</label>
                    <input name="url" type="file" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a valid URL.
                    </div>
                </div>
                <input type="hidden" name="existingUrl" value="<%= movies.url ? movies.url.url : '' %>">
                <input type="hidden" name="existingFilename" value="<%= movies.url ? movies.url.filename : '' %>">
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="price" value="<%= movies.price %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="releaseDate" class="form-label">Release Date</label>
                        <input name="releaseDate" value="<%= movies.releaseDate %>" type="date" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a release date.
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark add-btn" type="submit">Update</button>
                <br> <br>
            </form>
        </div>
    </div>
    <script src="/js/validations.js"></script>
</body>
