<%- layout("/layouts/boilerplate.ejs") %>
<body>
  <!-- <form method="GET" action="/movies/new">
        <button>Add Movie</button>
    </form> -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
    <% for(let movie of movies){ %>
      <a href="/movies/<%= movie._id %>" class="movie-link">
      <div class="card col">
        <img src="<%= movie.url.url %>" class="card-img-top" alt="movie_image" style="height: 15rem" />
        
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
          <b><%= movie.title %> <br></b>  
            <%= movie.releaseDate %>
          </p>
        </div>
      </div>
      <% } %>
    </a>
  </div>

 
